In [2]:
import pandas as pd
import sqlite3


df = pd.read_csv("/Users/nakiyah/Nakiyah_Assignment6/Data/Impact_of_Remote_Work_on_Mental_Health.csv")

display(df.head())


df_employeedata = df[['Employee_ID', 'Age', 'Job_Role', 'Industry', 'Years_of_Experience', 'Work_Location']].copy()
df_mentalhealth = df[['Employee_ID', 'Hours_Worked_Per_Week', 'Mental_Health_Condition', 'Access_to_Mental_Health_Resources']].copy()

df_employeedata = (df_employeedata.head(100)).copy()
df_mentalhealth = (df_mentalhealth.head(100)).copy()

df_employeedata.loc[:, 'Age'] = pd.to_numeric(df_employeedata['Age'], errors='coerce')
df_employeedata.loc[:, 'Years_of_Experience'] = pd.to_numeric(df_employeedata['Years_of_Experience'], errors='coerce')

# Converting Access_to_Mental_Health_Resources to boolean
df_mentalhealth['Access_to_Mental_Health_Resources'] = df_mentalhealth['Access_to_Mental_Health_Resources'].map({'Yes': True, 'No': False})
df_mentalhealth.loc[:, 'Hours_Worked_Per_Week'] = pd.to_numeric(df_mentalhealth['Hours_Worked_Per_Week'], errors='coerce')

df_employeedata.dropna(inplace=True)
df_mentalhealth.dropna(inplace=True)

display(df_employeedata.head())
display(df_mentalhealth.head())

"""Group By JOB_ROLE, Average Years_of_Experience and Hours worked per week"""

,Employee_ID,Age,Gender,Job_Role,Industry,Years_of_Experience,Work_Location,Hours_Worked_Per_Week,Number_of_Virtual_Meetings,Work_Life_Balance_Rating,Stress_Level,Mental_Health_Condition,Access_to_Mental_Health_Resources,Productivity_Change,Social_Isolation_Rating,Satisfaction_with_Remote_Work,Company_Support_for_Remote_Work,Physical_Activity,Sleep_Quality,Region
0,EMP0001,32,Non-binary,HR,Healthcare,13,Hybrid,47,7,2,Medium,Depression,No,Decrease,1,Unsatisfied,1,Weekly,Good,Europe
1,EMP0002,40,Female,Data Scientist,IT,3,Remote,52,4,1,Medium,Anxiety,No,Increase,3,Satisfied,2,Weekly,Good,Asia
2,EMP0003,59,Non-binary,Software Engineer,Education,22,Hybrid,46,11,5,Medium,Anxiety,No,No Change,4,Unsatisfied,5,None,Poor,North America
3,EMP0004,27,Male,Software Engineer,Finance,20,Onsite,32,8,4,High,Depression,Yes,Increase,3,Unsatisfied,3,None,Poor,Europe
4,EMP0005,49,Male,Sales,Consulting,32,Onsite,35,12,2,High,None,Yes,Decrease,3,Unsatisfied,3,Weekly,Average,North America

,Employee_ID,Age,Job_Role,Industry,Years_of_Experience,Work_Location
0,EMP0001,32,HR,Healthcare,13,Hybrid
1,EMP0002,40,Data Scientist,IT,3,Remote
2,EMP0003,59,Software Engineer,Education,22,Hybrid
3,EMP0004,27,Software Engineer,Finance,20,Onsite
4,EMP0005,49,Sales,Consulting,32,Onsite

,Employee_ID,Hours_Worked_Per_Week,Mental_Health_Condition,Access_to_Mental_Health_Resources
0,EMP0001,47,Depression,False
1,EMP0002,52,Anxiety,False
2,EMP0003,46,Anxiety,False
3,EMP0004,32,Depression,True
4,EMP0005,35,None,True

'Group By JOB_ROLE, Average Years_of_Experience and Hours worked per week'