In [1]:
import pandas as pd
import sqlite3


df = pd.read_csv("/Users/nakiyah/Nakiyah_Assignment6/Data/Impact_of_Remote_Work_on_Mental_Health.csv")

df_employeedata = df[['Employee_ID', 'Age', 'Job_Role', 'Industry', 'Years_of_Experience', 'Work_Location', 'Hours_Worked_Per_Week']].copy()
df_mentalhealth = df[['Employee_ID', 'Mental_Health_Condition', 'Access_to_Mental_Health_Resources']].copy()

df_employeedata = (df_employeedata.head(100)).copy()
df_mentalhealth = (df_mentalhealth.head(100)).copy()

df_employeedata.loc[:, 'Age'] = pd.to_numeric(df_employeedata['Age'], errors='coerce')
df_employeedata.loc[:, 'Years_of_Experience'] = pd.to_numeric(df_employeedata['Years_of_Experience'], errors='coerce')
df_employeedata.loc[:, 'Hours_Worked_Per_Week'] = pd.to_numeric(df_employeedata['Hours_Worked_Per_Week'], errors='coerce')

# Converting Access_to_Mental_Health_Resources to boolean
df_mentalhealth['Access_to_Mental_Health_Resources'] = df_mentalhealth['Access_to_Mental_Health_Resources'].map({'Yes': True, 'No': False})

df_employeedata.dropna(inplace=True)
df_mentalhealth.dropna(inplace=True)

display(df_employeedata.head())
display(df_mentalhealth.head())

Group By JOB_ROLE, Average Years_of_Experience

,Employee_ID,Age,Job_Role,Industry,Years_of_Experience,Work_Location,Hours_Worked_Per_Week
0,EMP0001,32,HR,Healthcare,13,Hybrid,47
1,EMP0002,40,Data Scientist,IT,3,Remote,52
2,EMP0003,59,Software Engineer,Education,22,Hybrid,46
3,EMP0004,27,Software Engineer,Finance,20,Onsite,32
4,EMP0005,49,Sales,Consulting,32,Onsite,35

  Employee_ID Mental_Health_Condition  Access_to_Mental_Health_Resources
0     EMP0001              Depression                              False
1     EMP0002                 Anxiety                              False
2     EMP0003                 Anxiety                              False
3     EMP0004              Depression                               True
4     EMP0005                    None                               True